{% load static %}
{% load qr_code %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>옷 고르기 홈</title>
</head>

<body>


    <table>
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    information of image
                </th>
                <th>
                    image
                </th>
                <th>
                    qrcode
                </th>
                <th>
                    price
                </th>
            </tr>
        </thead>
        <tbody>
            {% for cloth in cloths %}
            <tr>
                <a href="{% url 'selectCloth' cloth.pk%}">해당 옷 선택</a>
            </tr>
            <tr>
                {{cloth.name}}
                {% if resently_views %}
                {{resently_views.product.name}}
                {% endif %}
            </tr>
            <tr>
                {% qr_from_text cloth.pk %}
            </tr>
            <tr>
                {{cloth.clothImage.url}}
                <img src="{{ cloth.clothImage.url }}" alt="connect">
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <h3>QR코드 인식</h3>
        <p>롯데 백화점 의류 매장 안에 있는 의류의 qr코드를 찍어보세요!</p>
        <p>
        <form method="POST" action="{% url 'qrcode_auth' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" id="take-picture" name='qr-code' accept="image/*">
            <button type="submit">submit</button>
        </form>
        </p>
        </select>
    </div>

</body>

</html>